<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #map {
            position: inherit;
            top: 0;
            bottom: 0;
            width: 100%;
        }
    </style>
    <!--include api of the map function -->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.35.0/mapbox-gl.js'></script>

    <!-- CSS, Normalize First, minify for production, using the master.css covering all less/css files -->
    <link rel="stylesheet" type='text/css' href="@Url.Content("~/Content/mytemplate_report/")master.css" />
</head>
<body>
    <!-- Header for Home Page (website name and slogen) -->
    <section id="main-header">
        <div class="container1"> <h4>GREENWEED</h4>  </div>
        <div class="container2">
            <div class="topnav">
                <a class="active" href="#Home">Home</a>
                <a href="#explore">Explore</a>
                <a href="#introduction">About Us</a>
                <a href="#summary">More</a>
            </div>
        </div>
    </section>
        <div>
            @RenderBody()
        </div>

    <!-- Footer for Home Page (website copyright)-->
    <footer>
        <div class="container" style="text-align:right; color:white">
            <div id="footer-text" class="small">
                <p>&copy; GREENWEED | Design by T.A.R.S. | Copyright 2017</p>
            </div>
        </div>
    </footer>
</body>
</html>
