@model System.Web.Mvc.HandleErrorInfo
<!-- This is the page to handle processing error. Prividing the error message for users -->
@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

