<!-- ***This is the About Us page of the whole website, provide the information of our website***-->

@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
}

<!-- ***Introduction Section, general description to users about who we are, what/how we do.*** -->
<div class="container">
    <h1>What's this website about?</h1>
    <p>Australia has many introduced invasive plants. These invasive plants spread rapidly damaging the environment and threatening the existence of native plants. The website, “Green Tracker”, will assist farmers by providing information and current sighting of invasive plants. Other functions include a plant identifier along with information on prevention and control methods for invasive plants.</p>
</div>

<!-- ***Summary Section, to introduce the unique/advantages of our website comparing to others.*** -->
<div class="container">
    <h1>What makes GreenTracker so great?</h1>
    <p>It will get you latest updates , real time sightings and control method on invasive plants Free, just a click away!</p>
</div>

<script>
    //remove the active class from Home to this page
    $(document).ready(function () {
        $("ul li").removeClass("active");
        $('#aboutTag').addClass("active");
    });
</script>