@{
    ViewBag.Title = "External Resources";
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
}

<section class="container">
    <div class="container" style="width: 90%;">
        <h1 style=" color: black">Invasive Plant Classifications</h1>
        <p style=" font-size: large; color: #011f02;">
            Under the Catchment and Land Protection Act 1994 (CaLP Act) certain plants are declared as noxious weeds in Victoria. These plants cause environmental or economic harm or have the potential to cause such harm. They can also present risks to human health. The CaLP Act defines four categories of noxious weeds:
            <br /><br />
            State Prohibited Weeds<br />
            Regionally Prohibited Weeds<br />
            Regionally Controlled Weeds<br />
            Restricted Weeds.<br /><br />
            Invasive plants are categorised into one of the above four categories for each catchment region in Victoria.
            <br /><br />
            More information: <br />
            <a href="http://agriculture.vic.gov.au/agriculture/pests-diseases-and-weeds/weeds/invasive-plant-classifications">http://agriculture.vic.gov.au/agriculture/pests-diseases-and-weeds/weeds/invasive-plant-classifications</a>
        </p><img style="width: 36%; margin-left: -2%;" src="~/css/images/agriculture-victoria_logo.jpg" />
        <hr class="featurette-divider">
    </div>
</section>


<section class="container">
    <div class="container" style="width: 90%;">
        <h1 style="color: black">Weed Spotters</h1>
        <p style="font-size: large; color: #011f02;">
            Weed Spotters assist the Victorian Government by looking out for and reporting State prohibited weeds.
            <br />
            Weed Spotters are individuals with an interest in plants including contractors, consultants, horticulturalists, local government staff, and other agency staff including Parks Victoria, waterway managers and Catchment Management Authorities.
            <br />
            There are a range of training activities and publications available to Weed Spotters to assist them to identify State prohibited weeds. Training includes weed identification, distinguishing characteristics of the target weeds and how to make a State prohibited weed report. Publications include a training manual, State prohibited weed cards and a subscription to the Weed Spotter newsletter.
            <br />
            The information gathered by Weed Spotters helps to locate new infestations of State prohibited weeds and assist in their management.
            <br /><br />
            More information: <br />
            <a href="http://agriculture.vic.gov.au/agriculture/pests-diseases-and-weeds/weeds/weed-spotters">http://agriculture.vic.gov.au/agriculture/pests-diseases-and-weeds/weeds/weed-spotters</a>
        </p><img style="width: 36%; margin-left: -2%;" src="~/css/images/agriculture-victoria_logo.jpg" />
        <hr class="featurette-divider">
    </div>
</section>


<section class="container">
    <div class="container" style="width: 90%;">
        <h1 style=" color: black">Parks Victoria</h1>
        <p style="font-size: large; color: #011f02;">
            Parks Victoria is a statutory authority, created by the Parks Victoria Act 1998 and reporting to the Minister.
            <br />
            We are responsible for managing an expanding and diverse estate covering more than 4 million hectares, or about 17 per cent, of Victoria.
            <br />
            Parks Victoria is committed to delivering works on the ground across Victoria’s park network to protect and enhance park values. It is our primary responsibility to ensure parks are healthy and resilient for current and future generations.
            <br />
            We manage parks in the context of their surrounding landscape and in partnership with Traditional Owners.
            <br />
            We work in partnership with other government and non-government organisations and community groups such as the Department of Environment, Land, Water and Planning, catchment management authorities, private land owners, friends groups, volunteers, licensed tour operators, lessees, research institutes and the broader community.
            <br /><br />
            More information: <br />
            <a href="http://parkweb.vic.gov.au/park-management/environment/weeds-and-pests/weeds">http://parkweb.vic.gov.au/park-management/environment/weeds-and-pests/weeds</a>
        </p><br /><img style="margin-left: 1%;" src="~/css/images/logo.jpg" />
        <hr class="featurette-divider">
    </div>
</section>

<section class="container">
    <div class="container" style="width: 90%;">
        <h1 style="color: black">Landcare Australia</h1>
        <p style=" font-size: large; color: #011f02;">
            “Accordingly, we are declaring next year the Year of Landcare – it will be the first year in a Decade of Landcare that will provide as never before a focus for protecting the most fundamental ingredient both of our natural environment and of our agricultural prosperity – our soil.”<br />
            Landcare Australia is a not-for-profit organisation, and registered charity, which leads the promotion of and provision of financial support to the Landcare movement’s national resource management programme in Australia; aligning the practice of environmental management with land productivity, and devolving governance and management to local communities.
            <br /><br />
            More information: <br />
            <a href="https://landcareaustralia.org.au/">https://landcareaustralia.org.au/</a>
        </p><img style=" width: 45%; margin-left: -3%;" src="~/css/images/landcare_inline_rev_cmyk370.png" />
        <hr class="featurette-divider">
    </div>
</section>

<section class="container">
    <div class="container" style="width: 90%;">
        <h1 style=" color: black">Agfarm</h1>
        <p style="font-size: large; color: #011f02;">
            Agfarm is a diversified agribusiness focused on grower and consumer services, providing global grain intelligence and marketing expertise to small, large and commercial growers, as well as accumulation networks for grain buyers. We offer an innovative range of products and services that will help the industry to prosper for generations to come. Agfarm has a national footprint with staff throughout the Australian grain belt, providing a wide range of local and national knowledge as well as accurate unbiased market intelligence and price discovery.
            <br /><br />
            More information: <br />
            <a href="http://www.agfarm.com.au/">http://www.agfarm.com.au/</a>
        </p><img src="~/css/images/services-agfarm1.jpg" />
    </div>
</section>

<script>
    //remove the active class from Home to this page
    $(document).ready(function () {
        $("ul li").removeClass("active");
        $('#aboutTag').addClass("active");
    });
</script>