
@{
    ViewBag.Title = "GetStarted";
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
}

<!-- ***Summary Section, to introduce the unique/advantages of our website comparing to others.*** -->
<div class="container">
    <h1>What is Invasive Plant?</h1>
    <p>xxxxxxx.(video)</p>
</div>

<div class="container">
    <h1>How much you know about Invasive Plants?</h1>
    <p>xxxxxxx.</p>
</div>
