
@{
    ViewBag.Title = "Quiz";
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
}

<div class="container">
    <div class="interact_responsive_padding" style="padding:60% 0 0 0;position:relative;margin-bottom:5px;">
        <div class="interact_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
            <iframe style="border:none;max-width:100%;margin:0;" src="https://quiz.tryinteract.com/#/5916f2fb6f334a00111bba3c" width="100%" height="100%" frameborder="0"></iframe>
            <div id="int-pb" style="display:block;font-size:11px;color:#666;">
            </div>
        </div>
    </div>
</div>

<script>
    //remove the active class from Home to this page
    $(document).ready(function () {
        $("ul li").removeClass("active");
        $('#quizTag').addClass("active");
    });
</script>
