@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}
<h2>@ViewBag.Title.</h2>

<section class="call-to-action">

</section>

<!-- Macbook Section -->
<section id="macbook">
    <div class="container">
        <h2>What's this all about?</h2>
        <p>Greenweed was designed and built by <a href="http://www.jrdnbwmn.com" target="_blank">Jordan Bowman</a>. It is released for free on <a href="http://eatapapaya.com" target="_blank">Papaya</a> under the <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">Creative Commons Attribution license</a>. Use it – I hope you make millions of dollars and find a hot spouse with it.</p>
        <img src="@Url.Content("~/Content/mytemplate/")images/farm1.jpg" />
    </div>
</section>
