
@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_LayoutReport.cshtml";
}

<div class="form-style-5" style="float: left; margin-left: 165px;">
    <form>
        <fieldset>
            <legend><span class="number">1</span> Report the Invasive Plant</legend>
            <label for="job">Plant: *</label>
            <select id="job" name="field4">
                <optgroup label="Common Name">
                    <option value="fishkeeping">Alligator Weed</option>
                    <option value="reading">Bear-skin fescue</option>
                    <option value="boxing">Black knapweed</option>
                    <option value="debate">Branched broomrape</option>
                    <option value="gaming">Camel thorn</option>
                    <option value="snooker">Giant knotweed</option>
                    <option value="other_indoor">Giraffe thorn</option>
                </optgroup>
                <optgroup label="Scientific Name">
                    <option value="football">Alternanthera philoxeroides (Mart.) Griseb.</option>
                    <option value="swimming">Festuca gautieri (Hack.) K. Richt.</option>
                    <option value="fishing">Centaurea nigra L.</option>
                    <option value="climbing">Orobanche ramosa L.</option>
                    <option value="cycling">Alhagi maurorum Medik.</option>
                    <option value="other_outdoor">Fallopia sachalinensis (F. Schmidt ex Maxim) Ronse Decr.</option>
                    <option value="Giraffe thorn">Acacia erioloba E. Mey</option>
                </optgroup>
            </select>
            <input type="email" name="field2" placeholder="Your Email: ">
            <input type="text" name="field1" placeholder="Your Name: ">          
        </fieldset>
        <fieldset>
            <legend><span class="number">2</span> Additional Comments</legend>
            <textarea style="height: 135px;" name="field3" placeholder="More details about the plant you want to report:"></textarea>
        </fieldset>
    </form>
</div>

<div class="form-style-5" style="float: right; margin-right: 178px; width: 800px; height: 533px; ">
    <form>
        <fieldset style=" height: 437px;">
            <legend><span class="number">3</span> Location Info</legend>
            <section class="container">
                <div id="map"></div>
                <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.0.1/mapbox-gl-geocoder.js'></script>
                <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.0.1/mapbox-gl-geocoder.css' type='text/css' />
                <style>
                    #geocoder-container > div {
                        min-width: 50%;
                        margin-left: 25%;
                    }

                    .mapboxgl-popup {
                        max-width: 400px;
                        font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
                    }
                </style>

                <script>
                    mapboxgl.accessToken = 'pk.eyJ1IjoiZHpodTMxIiwiYSI6ImNqMTd3OTkxbTA1bWsyd3FxN3E1ZHIzbmIifQ.gdbgSUNiTB6Ho-5I-sPlBA';
                    var map = new mapboxgl.Map({
                        container: 'map',
                        style: 'mapbox://styles/mapbox/streets-v9',
                        center: [144.8339, -37.7961],
                        zoom: 13
                    });

                    var geocoder = new MapboxGeocoder({
                        accessToken: mapboxgl.accessToken
                    });

                    map.addControl(geocoder);

                    // Add geolocate control to the map.
                    map.addControl(new mapboxgl.GeolocateControl());

                    // After the map style has loaded on the page, add a source layer and default
                    // styling for a single point.
                    map.on('load', function () {
                        map.addSource('single-point', {
                            "type": "geojson",
                            "data": {
                                "type": "FeatureCollection",
                                "features": []
                            }
                        });

                        map.addLayer({
                            "id": "point",
                            "source": "single-point",
                            "type": "circle",
                            "paint": {
                                "circle-radius": 5,
                                "circle-color": "#477036 "
                            }
                        });

                        // Add a layer showing the places.
                        map.addLayer({
                            "id": "places",
                            "type": "symbol",
                            "source": {
                                "type": "geojson",
                                "data": {
                                    "type": "FeatureCollection",
                                    "features": [{
                                        "type": "Feature",
                                        "properties": {
                                            "description": "tree 1",
                                            "icon": "star"
                                        },
                                        "geometry": {
                                            "type": "Point",
                                            "coordinates": [144.8339, -37.7961]
                                        }
                                    }, {
                                        "type": "Feature",
                                        "properties": {
                                            "description": "tree 1",
                                            "icon": "star"
                                        },
                                        "geometry": {
                                            "type": "Point",
                                            "coordinates": [144.98, -37.76]
                                        }
                                    }]
                                }
                            },
                            "layout": {
                                "icon-image": "{icon}-15",
                                "icon-allow-overlap": true
                            }
                        });


                        // Create a popup, but don't add it to the map yet.
                        var popup = new mapboxgl.Popup({
                            closeButton: false,
                            closeOnClick: false
                        });

                        map.on('mouseenter', 'places', function (e) {
                            // Change the cursor style as a UI indicator.
                            map.getCanvas().style.cursor = 'pointer';

                            // Populate the popup and set its coordinates
                            // based on the feature found.
                            popup.setLngLat(e.features[0].geometry.coordinates)
                                .setHTML(e.features[0].properties.description)
                                .addTo(map);
                        });

                        map.on('mouseleave', 'places', function () {
                            map.getCanvas().style.cursor = '';
                            popup.remove();
                        });

                        // Listen for the `geocoder.input` event that is triggered when a user
                        // makes a selection and add a symbol that matches the result.
                        geocoder.on('result', function (ev) {
                            map.getSource('single-point').setData(ev.result.geometry);
                            ev.preventDefault();
                        });
                    });
                </script>
            </section>
        </fieldset>
        <fieldset>
        <input type="submit" value="Submit"style="float: left; width: 48%;" /> 
        <input type="submit" value="Cancel" style="float: right; width: 48%;" />
        </fieldset>
    </form>
</div>