<!-- ***This is the page about Alligator Weed(one of invasive plants), this page is using _LayoutPlant.cshtml as the
    template, and customising it with the information about Alligator Weed. It has major 4 sections,
    Home-Identify-Control-Contact. Details as followed. ***-->

@{
    ViewBag.Title = "AlligatorWeed";
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
}

<div class="container" >
    <h2 style="font-family: 'Comic Sans MS'">Alligator Weed</h2>
    <h3>Alternanthera philoxeroides</h3>
</div>


<div class="container marketing" style="margin-top: -4%;">

    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">

    <!-- ***This is the home section, could provides general introduction about Alligator Weed, using the css file
    from Content/template_page, assigned with ID=home to corresponding the function of navigator.*** -->
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">About Alligator Weed. <span class="text-muted">It'll blow your mind.</span></h2>
            <p class="lead">Alligator weed has predominantly been found in south east Melbourne backyards, although a few regional backyard infestations have also been detected. Waterway infestations have also been found in Melbourne and in regional Victoria, at Bendigo and Warragul.
Alligator weed is a particularly hard weed to eradicate because it invades both land and water. In waterways, it can grow from plant fragments dispersed from a parent infestations and produce new infestations downstream.
</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive"  src="~/css/images/plants/aw_flower-resized.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- ***This is the identify section, could provides the identifying methods about Alligator Weed, using the css file
    from Content/template_page, assigned with ID=identify to corresponding the function of navigator.*** -->
    <div class="row featurette">
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="~/css/images/plants/aw_aquatic-resized.jpg"  alt="Generic placeholder image">
        </div>
        <div class="col-md-7" style="margin-top: -5%;">
            <h2 class="featurette-heading">Alligator weed is a State prohibited weed: <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">
                Alligator weed can be mistaken for other species, such as lesser joy weed (Alternanthera denticulata), an Australian native. However the leaves of lesser joy weed are not as green or glossy as those of alligator weed and the flowers are in the leaf axil, not on flower stalks. Sessile joy weed (Altenanthera sessilis) is also similar, however the leaves of sessile joy weed are short and round. Wandering trad (Tradescantia fluminensis) is also sometimes confused with alligator weed but has an alternating leaf arrangement not an opposing arrangement like alligator weed. In the past alligator weed has also been mistakenly grown as the vegetable makunu-wenna (Alternanthera triandra).
            </p>
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- ***This is the control section, could provides suggestion about how to control Alligator Weed,
    or the contact details about related organization to control them, this also using the css file
    from Content/template_page, assigned with ID=control to corresponding the function of navigator.*** -->
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">How can I identify it? <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">Alligator weed is a perennial herb with stolon's that can grow on land or water.
On water it can be free floating or attached to the bank.
On land it can grow upright, creeping amongst other vegetation or grow flat along the ground.
The leaves of alligator weed are bright green and spear shaped. They grow in opposite pairs along a hollow stem.
Flowers are papery and ball shaped, silvery-white in colour and grow on individual stalks.
Roots grow from joints in the stem. These can break off and form new plants downstream.
</p>
        </div>

        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="~/css/images/plants/aw_roots-resized.jpg"  alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- ***This is the identify section, could provides the identifying methods about Alligator Weed, using the css file
    from Content/template_page, assigned with ID=identify to corresponding the function of navigator.*** -->
    <div class="row featurette">
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="~/css/images/plants/alligator4.jpg" alt="Generic placeholder image">
        </div>
        <div class="col-md-7" style="margin-top:-5%;">
            <h2 class="featurette-heading">Control and Report. <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">
                <b>Caution: Please do not attempt to treat or dispose of alligator weed yourself. The department will treat, remove and dispose of alligator weed safely, at no cost to the land owner.</b>
                <br />If you suspect you may have seen alligator weed, please contact DEDJTR immediately. Phone 136 186, send an email to weed.spotters@ecodev.vic.gov.au using the our template here or make an online report here so that we can help you with most recent sightings.
                <br /><b>
                    or simply, report it from us:</b>
                    <div>
                        <!-- Report function would be completed in Iteration 2, not support for now -->
                        <button type="button" class="btn yellow-btn normal-btn" onclick="awClick();">Report</button>
                    </div>
            </p>
        </div>
    </div>
</div>

<script>
    function awClick() {
        localStorage.setItem("plantSelect", 'P1');
        location.href = "@Url.Action("Report", "Home")";
    }
</script>

