<!-- ***This is the page about Water Hyacinth(one of invasive plants), this page is using _LayoutPlant.cshtml as the
    template, and customising it with the information about Tangled Hypericum. It has major 4 sections,
    Home-Identify-Control-Contact. Details as followed. ***-->

@{
    ViewBag.Title = "WaterHyacinth";
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
}


<div class="container">
    <h2 style="font-family: 'Comic Sans MS'">Water Hyacinth</h2>
    <h3>Eichhornia crassipes</h3>
</div>


<div class="container marketing" style="margin-top: -4%;">

    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">

    <!-- ***This is the home section, could provides general introduction about Alligator Weed, using the css file
    from Content/template_page, assigned with ID=home to corresponding the function of navigator.*** -->
    <div class="row featurette">
        <div class="col-md-7" style="margin-top: -4%;">
            <h2 class="featurette-heading">About Water Hyacinth. <span class="text-muted">It'll blow your mind.</span></h2>
            <p class="lead">
                Water hyacinth grows best in warm, nutrient rich, slow moving waterways but can also be found growing in soil on the waterway bank.
                In Victoria DEDJTR has been trying to raise awareness about water hyacinth and encouraging people to report and/or surrender any water hyacinth plants that they may have to DEDJTR.   
             </p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="~/css/images/plants/WH-flowers-web-300.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- ***This is the identify section, could provides the identifying methods about Alligator Weed, using the css file
    from Content/template_page, assigned with ID=identify to corresponding the function of navigator.*** -->
    <div class="row featurette">
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="~/css/images/plants/WH_swollen-stems.jpg" alt="Generic placeholder image">
        </div>
        <div class="col-md-7" style="margin-top: -5%;">
            <h2 class="featurette-heading">Water Hyacinth is a State prohibited weed: <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">
                Water hyacinth is native to the Amazon basin in South America and was brought to Australia in the 1890s as an ornamental plant.
                Water hyacinth is one of the world's worst aquatic weeds. It infests rivers, dams, lakes and irrigation channels on every continent except Antarctica. It devastates aquatic environments and costs billions of dollars every year in control costs and economic losses.
    
             </p>
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- ***This is the control section, could provides suggestion about how to control Alligator Weed,
    or the contact details about related organization to control them, this also using the css file
    from Content/template_page, assigned with ID=control to corresponding the function of navigator.*** -->
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">How can I identify it? <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">
                Water hyacinth is a floating water plant that can spread by daughter plants or seed. Plants are characterised by swollen stems that are filled with air cells and large and attractive mauve coloured flowers.
                Bulbous stems contain air pockets, which help the plant to float. Stems can be long and thin when the plants are crowded.

            </p>
        </div>

        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="~/css/images/plants/WH_roots.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- ***This is the identify section, could provides the identifying methods about Alligator Weed, using the css file
    from Content/template_page, assigned with ID=identify to corresponding the function of navigator.*** -->
    <div class="row featurette">
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="~/css/images/plants/WH_daughters.jpg" alt="Generic placeholder image">
        </div>
        <div class="col-md-7" style="margin-top:-5%;">
            <h2 class="featurette-heading">Control and Report. <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">
                <b>Caution: Please do not attempt to treat or dispose of Water Hyacinth yourself. The department will treat, remove and dispose of alligator weed safely, at no cost to the land owner.</b>
                <br />If you suspect you may have seen Water Hyacinth, please contact DEDJTR immediately. Phone 136 186, send an email to weed.spotters@ecodev.vic.gov.au using the our template here or make an online report here so that we can help you with most recent sightings.
                <br /><b>
                    or simply, report it from us:
                </b>
                <div>
                    <!-- Report function would be completed in Iteration 2, not support for now -->
                    <button type="button" class="btn yellow-btn normal-btn" onclick="whClick();">Report</button>
                </div>
            </p>
        </div>
    </div>
</div>

<script>
    function whClick() {
        localStorage.setItem("plantSelect", 'WH');
        location.href = "@Url.Action("Report", "Home")";
    }
</script>

